<script id="" type="text/x-handlebars-template">
  <div class="items-list">
    <p>items list</p>
    <table>
      <tr>
        <td>col1</td>
        <td>col2</td>
        <td>col3</td>
        <td>col4</td>
      </tr>
    </table>
  </div>
</script>
