<script id="todo-list-template" type="text/x-handlebars-template">
  <div class="top-container clearfix">
    <div class="map-container">map</div>
    <div class="details-container">details</div>
  </div>
  <div class="list-container">list</div>
</script>
